$num: (
        5: '5px',
        10: '10px',
        15: '15px',
        20: '20px'
);
$direction: (
        t: 'top',
        r: 'right',
        b: 'bottom',
        l: 'left'
);

@each $num-key, $num-value in $num {
  @each $direction-key, $direction-value in $direction {
    .m-#{$direction-key}-#{$num-key} {
      margin-#{$direction-value}: #{$num-value};
    }
    .p-#{$direction-key}-#{$num-key} {
      padding-#{$direction-value}: #{$num-value};
    }
  }
}

/* flex家族 */
.flex {
  display: flex;
}

.flex-align-center {
  @extend .flex;
  align-items: center;
}

.flex-justify-center {
  @extend .flex;
  justify-content: center;
}

.flex-justify-end {
  @extend .flex;
  justify-content: flex-end;
}

.flex-space-between {
  @extend .flex;
  justify-content: space-between;
}

.flex-space-around {
  @extend .flex;
  justify-content: space-around;
}

.flex-regular {
  @extend .flex-align-center;
  @extend .flex-justify-center;
}

/* 颜色相关 */

/* 其他 */
.cursor-pointer {
  cursor: pointer;
}

.text-center{
  text-align: center;
}

/* 特效 */

// 旋转360度
//.i-rotate{
//  transition: all .3s;
//  transform: rotate(180deg);
//}

